#weOffers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap; /* Enables wrapping */
}

.weOffers__wrap {
  display: flex;
  flex-direction: column;

  gap: 50px;
}

.weOffers__item {
  display: flex;
  flex-direction: column;
  padding: 10px 100px 20px 50px;

  font-weight: bold;
  position: relative;
}

.weOffers__item::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--content-bg-color);
  border-radius: 30px;
  box-shadow: 0px 5px 50px var(--default-shadow-color);

  mix-blend-mode: var(--content-bg-blend-mode);
  z-index: -1;
}

.weOffers__item h3 {
  font-size: 63.5px;
  margin: 0px;
  line-height: 1.2;
}
.weOffers__item p {
  font-size: 40px;
  margin: 0px;
  line-height: 1.15;
}
