#MainPage {
  margin-top: calc(var(--header-height) + 15px);
  margin-left: 100px;
  margin-right: 100px;

  display: flex;
  flex-direction: column;
  gap: 80px;
}

#backgroundActress {
  position: absolute;
  left: -100px;
  z-index: -5;
  mix-blend-mode: var(--actress-image-blend-mode);
  filter: var(--actress-image-filter);
  user-select: none;
}
