#appHeader {
  height: var(--header-height);

  width: 100%;
}

#appHeader::before {
  content: '';
  position: fixed;
  inset: 0;
  background-color: var(--main-bg-color);
  border-radius: 0px 0px 30px 30px;
  box-shadow: 0px 5px 50px var(--default-shadow-color);

  height: var(--header-height);
  mix-blend-mode: var(--main-bg-blend-mode);
  z-index: 10;
}

#optionsWrapper {
  height: var(--header-height);
  width: 100%;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#headerContentSeparator {
  display: flex;
  align-items: center;
  justify-content: end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

#headerSeparator {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 40px;
}

.headerText {
  font-family: var(--main-font-fam);
  background: var(--text-color-main);
  background-clip: text;
  color: transparent;
  font-weight: bold;
}

.headerMain {
  font-size: 41px;
}

.headerLink {
  background: var(--text-color-main);
  background-clip: text;
  color: transparent;
  font-size: 27px;
}
